name: Go CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.5'
          cache: true

      - name: Install templ
        run: go install github.com/a-h/templ/cmd/templ@latest

      - name: Run templ generate
        run: templ generate

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.6

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.5'
          cache: true

      - name: Install templ
        run: go install github.com/a-h/templ/cmd/templ@latest

      - name: Run templ generate
        run: templ generate

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -tags testing -v -race -coverprofile=coverage.txt -covermode=atomic ./...

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          file: ./coverage.txt
          fail_ci_if_error: false
